:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #757575;
  --main-text-color: #212121;
  --logo-text-color: #000000;
  --button-primary-color: #ffffff;
  --third-title-color: #2196f3;
  --footer-title-color: #2f303a;
  --hero-title-color: #2f303a;
  --section-team-color: #f5f4fa;
  --header-border-color: #ececec;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--main-title-color);
}

/*Logo*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container.header {
  display: flex;
  border-bottom: 0;
}

.head-nav {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-list .item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.header-list .item:not(:last-child) {
  margin-right: 50px;
}

.link-list {
  text-decoration: none;
}

.txt-blue {
  color: var(--third-title-color);
}

.txt-black {
  color: var(--logo-text-color);
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.section.special {
  padding-top: 94px;
  padding-bottom: 0;
}

.main-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-right: 93px;
}

.main-link:focus,
.main-link:active {
  font-size: 26px;
  font-weight: 700;
}

/*Header*/

.link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--third-title-color);
  font-weight: 500;
}

.link-secondary {
  color: var(--third-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-secondary:hover,
.link-secondary:focus {
  color: var(--third-title-color);
  font-weight: 500;
}

.link-title {
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-title:hover,
.link-title:focus {
  color: var(--third-title-color);
}

/*Герой*/
/*Main*/
.hero {
  text-align: center;
  background-color: var(--hero-title-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-title-color);
  background-color: var(--hero-title-color) a;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.specialities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.paragraph-title {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-title-color);
  margin-bottom: 0;
}
.wwd {
  display: flex;
  padding: 0;
  margin: 0;
}

.card-set {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.card-set :not(:last-child) {
  margin-right: 8px;
}

.wwd .list {
  width: 270px;
}
.wwd .list:not(:last-child) {
  margin-right: 30px;
}

.wwd-items {
  margin: 15px;
}

.section-work .list {
  width: 370px;
}

.our-work,
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team {
  background-color: var(--section-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.prof-name {
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.description-project {
  padding: 20px 24px;
  background-color: var(---main-title-color);
  border: 1px solid #eeeeee;
  border-top: 0;
}

.menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-title-color);
  text-align: center;
}

.button {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: var(--section-team-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: solid transparent;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.03em;
  border: 0;
}
.button:hover,
.button:focus {
  color: var(--button-primary-color);
  background-color: var(--third-title-color);
}

.btn {
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--button-primary-color);
  background-color: var(--third-title-color);
  border: var(--third-title-color);
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  min-width: 216px;
  text-align: center;
  margin-bottom: 0;
}

.btn:hover,
.btn:focus {
  color: var(---main-title-color);
  background-color: var(--third-title-color);
  border: var(--third-title-color);
  opacity: 0.8;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.paragraph-list {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-title-color);
}

/*Footer*/

.footer {
  background-color: var(--footer-title-color);
  padding: 60px 0;
}

.txt-white {
  color: var(--main-title-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.link-footer {
  color: var(--main-title-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--main-title-color);
  opacity: 0.8;
}

.link-contact {
  color: var(--main-title-color);
  opacity: 0.6;
  line-height: 1.71;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus,
.link-contact:active {
  color: var(--secondary-title-color);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  margin: 0;
}
